body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff; /* Azul claro (aliceblue) */
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff; /* Branco */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
}

h1 {
  color: #00a1e0; /* Azul claro (unir color) */
}

.go-to-form-button,
.go-to-cadastros-button {
  display: inline-block;
  background-color: #00a1e0; /* Azul claro (unir color) */
  color: #fff; /* Branco */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}

.go-to-form-button:hover,
.go-to-cadastros-button:hover {
  background-color: #0084b4; /* Azul claro mais escuro */
}